
name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  unit-test:
    container: cuaesd/aesd-autotest:24-unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    container: cuaesd/aesd-autotest:24-assignment5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install missing dependencies
        run: |
          apt-get update
          apt-get install -y file sshpass cpio unzip rsync bc openssh-client

      - uses: webfactory/ssh-agent@v0.5.0
        with:
            ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Checkout submodules
        run: git submodule update --init --recursive
          
      # THIS IS THE UPDATED STEP
      - name: Run full test
        run: |
          mkdir -p ~/.ssh
          echo "Host *" > ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config
          echo "  UserKnownHostsFile /dev/null" >> ~/.ssh/config
          ./full-test.sh

