name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  unit-test:
    container: cuaesd/aesd-autotest:24-unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

full-test:
    container: cuaesd/aesd-autotest:24-assignment5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Checkout submodules
        run: git submodule update --init --recursive

      # --- START NEW SECTION ---
      # 1. Load the SSH Key (This uses the secret you created)
      - uses: webfactory/ssh-agent@v0.5.0
        with:
            ssh-private-key: ${{ secrets.SSH_KEY }}

      # 2. Trust GitHub (Fixes "Host key verification failed")
      - name: Add GitHub to Known Hosts
        run: |
            mkdir -p ~/.ssh
            ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      # --- END NEW SECTION ---

      - name: Install missing dependencies
        run: |
          apt-get update
          apt-get install -y file sshpass cpio unzip rsync bc
          
      - name: Run full test
        run: ./full-test.sh
