name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  # Job 1: Grades your Threading code (Assignment 4 Part 1)
  unit-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-unit-test
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Checkout submodules (Manual Backup)
        run: git submodule update --init --recursive
      - name: Run unit test
        run: /usr/bin/python3 /app/autotest/autotest.py --test_path=examples/threading

  # Job 2: Grades your Buildroot setup (Assignment 4 Part 2)
  full-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-assignment4-buildroot
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Run full test
        run: ./full-test.sh




