

name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:
        container: cuaesd/aesd-autotest:24-unit-test
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
            with:
              submodules: true
              # optional but recommended to ensure you get the right branch
              fetch-depth: 0
          - name: Checkout submodules
            run : git submodule update --init --recursive
          - name: Run unit test
            run: ./unit-test.sh
    full-test:
        container: cuaesd/aesd-autotest:24-assignment3
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
            with:
              submodules: recursive

      # --- ADD THIS STEP HERE ---
          - name: Install cross-compiler and dependencies
            run: |
              sudo apt-get update
              sudo apt-get install -y gcc-aarch64-linux-gnu bc u-boot-tools qemu-system-arm
      # --------------------------

          - name: Run full test
            run: ./full-test.sh


