name: assignment-test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  unit-test:
    container: cuaesd/aesd-autotest:24-unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    container: cuaesd/aesd-autotest:24-assignment5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      # 1. INSTALL DEPENDENCIES FIRST
      # We added 'openssh-client' here so ssh-agent exists!
      - name: Install missing dependencies
        run: |
          apt-get update
          apt-get install -y file sshpass cpio unzip rsync bc openssh-client

      # 2. NOW LOAD THE KEY (ssh-agent is now installed)
      - uses: webfactory/ssh-agent@v0.5.0
        with:
            ssh-private-key: ${{ secrets.SSH_KEY }}

      # 3. TRUST GITHUB
      - name: Add GitHub to Known Hosts
        run: |
            mkdir -p ~/.ssh
            rm -f ~/.ssh/known_hosts
            ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - name: Checkout submodules
        run: git submodule update --init --recursive
          
      - name: Run full test
        run:  |
            rm -f  ~/.ssh/known_hosts
            ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
            ./full-test.sh
