

name: assignment-test
on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'
jobs:
  unit-test:
    # Explicitly force the AMD64 architecture for the container
    container:
      image: cuaesd/aesd-autotest:24-unit-test
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    # Explicitly force the AMD64 architecture for the container
    container:
      image: cuaesd/aesd-autotest:24-assignment1
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run full test
        run: ./full-test.sh

