name: assignment-test
on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'
jobs:
  unit-test:
    container:
      image: cuaesd/aesd-autotest:24-unit-test
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      # Bypass the broken Node.js injection by using raw git
      - name: Manual Checkout
        run: |
          git clone https://github.com/${{ github.repository }}.git .
          git checkout ${{ github.sha }}
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    container:
      image: cuaesd/aesd-autotest:24-assignment1
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      - name: Manual Checkout
        run: |
          git clone https://github.com/${{ github.repository }}.git .
          git checkout ${{ github.sha }}
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run full test
        run: ./full-test.sh

