

name: assignment-test
on:
  push:
    branches: [ "*" ]
jobs:
  unit-test:
    container:
      image: cuaesd/aesd-autotest:24-unit-test
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      - name: Manual Checkout
        run: |
          git init
          git remote remove origin || true 
          git remote add origin https://github.com/${{ github.repository }}.git
          git fetch --depth 1 origin ${{ github.sha }}
          git checkout -f FETCH_HEAD
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    container:
      image: cuaesd/aesd-autotest:24-assignment1
      options: --platform linux/amd64
    runs-on: self-hosted
    steps:
      - name: Manual Checkout
        run: |
          git init
          git remote remove origin || true 
          git remote add origin https://github.com/${{ github.repository }}.git
          git fetch --depth 1 origin ${{ github.sha }}
          git checkout -f FETCH_HEAD
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Run full test
        run: ./full-test.sh

